body{
    text-align: center;

}
h1{

    padding: 2%;
    font
}

table{
    margin: 0 50%;
    width: 100px;
    height: 100px;
    border: 2px solid black;

}


.row1{
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    width: 100px;
    height: 100px;
}
.row2{
    border-bottom: 10px solid black;
    width: 100px;
    height: 100px;
}
.row3{
    border-left: 10px solid black;
    border-bottom: 10px solid black;
    width: 100px;
    height: 100px;
}
.row21{
    width: 100px;
    height: 100px;
}
.row22{
    border-right: 10px solid black;
    border-left : 10px solid black;
    width: 100px;
    height: 100px;

}
.row23{
    width: 100px;
    height: 100px;
}

.row31{
    border-top: 10px solid black;
    border-right: 10px solid black;
    width: 100px;
    height: 100px;

}
.row32{
    border-top: 10px solid black;
    width: 100px;
    height: 100px;
}
.row33{
    border-left: 10px solid black;
    border-top: 10px solid black;
    width: 100px;
    height: 100px;

}

/* th tr{
    margin: 0 50% ;
    width: 100px;
    height: 100px;

}
.first{
    border-bottom: 2px solid black;
}
.second{
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.third{
    border-top: 2px solid black;
}
.special1{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}

.special2{
    
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;

} */