/* hexidecimal*/
h1{
    color: #55dd89;
}
/*normal words*/
li{
    color: blueviolet;
}
/* using RGB */
h4{
    color: rgb(100,000,150);
}
/* this is an example of RGBA which allows for transparency*/
h3{
    color: rgba( 0, 200, 60, .6)
}